.App {
  text-align: center;
  width: 100vw;
}

.button {
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  /* font-weight: bold; */
}

button {
  cursor: pointer;
}

.disabled {
  color: #b3b3b3;
  cursor: default;
  border: 1px solid #b3b3b3;
}

.disabled:focus {outline:0;}

input {
  padding: 3px;
  margin: 3px;
}