.game-lobby {
    padding: 10px;
    display: flex;
    min-height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
}

.start-button {
    margin-top: 10px;
    margin-left: 100px;
}

.invite {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px
}

.invite-button {
    margin-top: 15px;
    align-self: flex-end;
}

.invite-link {
    width: 300px;
}

.save-container {
    display: flex;
    justify-content: flex-end;
}
