.game-lobby {
    padding: 20px;
    display: flex;
    min-height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
}

.start-button {
    margin-top: 10px;
    margin-left: 100px;
}

.invite {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px
}
.invite-button {
    margin-left: 15px;
}

.invite-link {
    width: 300px;
}
