.game-lobby {
    padding: 20px;
    display: flex;
    min-height: 30vh;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
}

.save-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    max-width: 50vw;
}


.invite {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}
.invite-button {
    margin-left: 25px;
}

.invite-link {
    width: 300px;
}
