.lobby {
    padding: 100px;
    border: 1px solid black;
    display: flex;
}

.lobby-player {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.save-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
