.question_list {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}

.new_button {
    background: #d1d1d1;
    font-size: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width:100px;
    border: 1px solid #9c9c9c;
    margin: 10px;
    align-self: center;
    cursor: pointer;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

.filter_holder {
	width: 300px;
	border: 1px solid black;
}

.ql_and_filter {
	display: flex;
	flex-direction: column;
    align-items: center;
    margin: 25px;
    flex: 0 1 auto;
}
