.question_container {
	background: #d1d1d1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	border-radius: 5px;
	min-width: 120px;
	max-width: 200px;
	min-height: 120px;
	border: 1px solid #9c9c9c;
	margin: 5px;
	cursor: pointer;
	/* overflow-wrap: break-word; */
}

.editable_question {
	width:200px;
	height:200px;
}

.selected {
	background: #d9d9d9;
}

.answer {
   display: flex;
   justify-content: flex-end;
   padding: 5px;
   padding-left: 15px;
   color: #707070;
   font-size: .9em;
   font-style: italic;
   margin-bottom: -1em;
}

.save-delete {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: stretch;
}

.button {
	margin: 5px
}

.concise-question {
	border: 1px solid #d9d9d9;
	padding: 5px;
	text-align: center;
	margin-top: 5px;
}

.q_and_a {
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.question_input {
	flex-grow: 4;
}

.answer_input {
	flex-grow: 1;
	font-style: italic;
}

.delete-edit-mini {
	margin-left: 7px;
	margin-right: 7px;
}

blockquote {
	background: #f9f9f9;
	border-left: 5px solid #ccc;
	margin-left: 10px;
	padding-left: 10px;
	font-style: italic;
}