.question-list {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

.new_button {
    background: #d1d1d1;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

.filter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

.filter_holder {
	width: 300px;
	border: 1px solid black;
}

.ql_and_filter {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    flex: 0 1 auto;
}
