.question_container {
	background: #d1d1d1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	border-radius: 5px;
	width:150px;
	border: 1px solid #9c9c9c;
	margin: 5px;
	word-break: break-all;
	cursor: pointer;
	/* overflow-wrap: break-word; */
}

.selected {
	outline: 5px solid blue;
}

textarea {
	flex-grow: 1;
	font-size: .8em;
}

.question {
	padding: 10px;
	/* border-bottom: 1px solid #9c9c9c; */
	/* overflow-wrap: break-word; */
}

.category {
	padding: 5px;
	align-self: flex-start;
	border-right: 1px solid #9c9c9c;
	border-bottom: 1px solid #9c9c9c;
	border-radius: 0px 0px 5px 0px;
	white-space: pre-wrap;
	font-size: .9em;
	font-weight: bold;
	/* overflow-wrap: break-word; */
}

.answer {
   align-self: flex-end;
   padding: 5px;
   color: #707070;
   font-size: .9em;
   font-style: italic;
   
   /*overflow-wrap: break-word; */
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: stretch;
}

.delete-button {
	background: lightcoral;
}

button {
	padding:5px;
	border-radius: 5px;
	background: white;
	margin: 5px
}