.question_container {
	background: #d1d1d1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	border-radius: 5px;
	min-width: 120px;
	max-width: 200px;
	min-height: 120px;
	border: 1px solid #9c9c9c;
	margin: 5px;
	cursor: pointer;
	/* overflow-wrap: break-word; */
}

.editable_question {
	width:200px;
	height:200px;
}

.selected {
	outline: 5px solid blue;
}

textarea {
	flex-grow: 1;
	font-size: .8em;
}

.question {
	padding: 10px;
	/* border-bottom: 1px solid #9c9c9c; */
	/* overflow-wrap: break-word; */
}

.category {
	padding: 5px;
	align-self: flex-start;
	border-right: 1px solid #9c9c9c;
	border-bottom: 1px solid #9c9c9c;
	border-radius: 0px 0px 5px 0px;
	white-space: pre-wrap;
	font-size: .9em;
	font-weight: bold;
	/* overflow-wrap: break-word; */
}

.answer {
   align-self: flex-end;
   padding: 5px;
   color: #707070;
   font-size: .9em;
   font-style: italic;

   /*overflow-wrap: break-word; */
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: stretch;
}

.delete-button {
	background: lightcoral;
}

button {
	padding:5px;
	border-radius: 5px;
	background: white;
	margin: 5px
}

.concise-question {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	margin: 5px;
}

.q_and_a {
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.question_input {
	flex-grow: 4;
}

.answer_input {
	flex-grow: 1;
	font-style: italic;
}