.question-list {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    padding: 5px;
    flex: 1 1 auto;
}

.ql_and_filter {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    flex: 1 1 auto;
}
