.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black
}

.toolbar-button {
    border-right: 1px solid black;
    padding: 15px;
}

.toolbar-button:hover {
    background-color: beige;
    cursor: pointer;
}

.selected-tab {
    background-color: bisque;
}