.round-and-index {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    cursor: pointer;
}

.round-in-game {
    display: flex;
    border-radius: 5px;
    /* padding: 5px; */
    border: 1px solid black;
    font-size: .9em;
    text-align: left;
    cursor: pointer;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.round-title {
    /* padding-bottom: 5px; */
    margin: 5px;
}

.empty-round {
    color: #707070;
    margin: 5px;
    text-align: center;
    flex-grow: 1;
    /* display: flex; */
}

.removable-round {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
}