.editor-and-toolbar {
    display: flex;
    flex-direction: row;
}
.editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    /* flex-grow: 1; */
}

.flex-grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}