.answer-question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    border: 1px solid black;
    width: 500px;
}

.answer-box {
    padding: 10px;
    margin: 15px;
}

.answer-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* margin: 10px; */
}

.selectable-wagers {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 5px;
}

.selectable-wager {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8em;
    height: 1.8em;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.3em;
    cursor: pointer;
    position:relative;
}

.sel-wager {
    background: lightblue;
    border: 2px solid black;
    font-weight: bold;
}

.wager-count {
    position: absolute;
    padding: 3px;
    /* left: 100% - calc(100%); */
    top: 0px;
    right: 0px;
    color: rgb(99, 99, 99);

    font-size: .6em;
    font-weight: normal;
    /* transform: translate(-100%, 100%); */
}

.wager-manager {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 5px; */
}

.wager-title {
    margin-left: 10px;
    margin-bottom: 5px;
}
