
.open-round {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.question-list {
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

.wager-list {
    display: flex;
    flex-direction: row;
}

.addable-questions {
    display: flex;
    flex-direction: row;
}