.round_list {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: flex-start;
    align-items: center;
    padding: 25px;
    border-right: 1px solid black;
    /* height: 65vh; */
    overflow-y: scroll;
}

.round-and-open-question {
    display: flex;
    flex-direction: row;
}
