.round {
    background: #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    cursor: pointer;
}