.wager {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: lightgrey;
    font-weight: bold;
}

.plus-or-minus {
    cursor: pointer;
    padding: 5px;
}

.wager-text {
    padding: 5px;
    font-size: 1.2em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: white;
}
