.answer-and-scorer {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.player-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
}

.answer-scorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
}
.player-scorer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.set-score {
    padding: 2px;
    font-size: 1em;
}

.correct {
    background: lightgreen;
}

.incorrect {
    background: lightcoral;
}

.player-status-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    border-top: 1px solid black;
}

.one-player-status {
    border-right: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column
}

.player-name {
    padding: 5px;
}