.answer-and-scorer {
    border: 1px solid black;
    margin: 5px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.player-answer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.team-name {
    padding: 10px;
    border-bottom: 1px solid black;
    background: rgb(228, 228, 228);
    flex-grow: 1;
}

.answer-text {
    font-style: italic;
    color: #707070;
    padding: 10px 20px 10px 20px;
}

.answer-scorer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.player-scorer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.set-score {
    padding: 0px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.correct {
    background: rgb(210, 255, 210);
}

.incorrect {
    background: rgb(247, 205, 205);
}

.player-status-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 50px;
}

.one-player-status {
    border-right: 1px solid black;
    /* padding: 5px; */
    display: flex;
    flex-direction: column
}

.player-name {
    padding: 5px;
}

.player-wager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    font-weight: bold;
}

.answered-or-not {
    min-height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.borderbottom {
    border-bottom: 1px solid black;
    border-top: 0px;
    margin-bottom: 20p
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    border-left: 1px solid black;
}

.one-player-score {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.scoreboard-score {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    font-size: 1.3em;
}

.scoreboard-team {
    align-items: center;
    display: flex;
    justify-content: center;
    border-left: 1px solid black;
    padding: 10px;
    background: rgb(228, 228, 228);
    flex-grow: 1;
}

.score-and-override {
    display: flex;
    flex-direction: column;
    align-items: center;
}