

.set-score {
    padding: 0px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.correct {
    background: rgb(210, 255, 210);
}

.incorrect {
    background: rgb(247, 205, 205);
}

.player-status-bar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 20px;
    /* flex-wrap: wrap; */
    max-width: 100%;
    overflow-x: auto;
    flex-shrink: 1;
}

.one-player-status {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column
}

.player-name {
    padding: 5px;
}

.player-wager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border-top: 1px solid #d9d9d9; */
    font-weight: bold;
    font-size: 1.3em;
}

.answered-or-not {
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.borderbottom {
    border-bottom: 1px solid black;
    border-top: 0px;
    margin-bottom: 20p
}

.old-answer {
    text-decoration: line-through;
    margin: 5px;
    white-space: pre-wrap;
}

.multi-answer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

