.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#root, body {
  display: flex;
  /* height: 100vh; */
  margin: 0px;
}

.logo {
  /* height: 32px; */
  background: rgba(80, 80, 80);
  margin: 16px;
  display: flex;
  align-items: center;
  font-style: italic;

  color: #777777;
}

.logo-min {
  justify-content: center;
}

.icon {
  margin: 5px 10px 5px 10px;
  width: 25px;
  height: 25px;
}

.left-aligned-flexrow {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
}

.height-trick {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
}


body {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
}