.active-game {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */

}


.active-question-box {
    display: flex;
    flex-direction: column;
}
.active-question {
    font-size: 1.6em;
}

.active-answer {
    align-self: flex-end;
    font-style: italic;
    font-size: 1.3em;
    margin-top: 40px;
}

.round-category {
    padding: 10px 15px 10px 15px;
    border-right: 1px solid #d9d9d9
}

.active {
    background: #1890ff;
    color:white
}

.active-round {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    align-self: flex-start;
}

.game-and-scoreboard {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    min-width: 30vw;
    max-width: 70vw;
    flex-grow: 1;

    /* flex-grow: 1; */
}

.linebreak {
    min-height: 15px;
}
