.active-game {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.active-question {
    padding: 50px;
    font-size: 1.7em;
    border-bottom: 1px solid black;
}

.round-category {
    padding: 10px;
    border-right: 1px solid black
}

.active {
    background: lightblue;

}

.active-round {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}