.active-game {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
}

.active-question {
    padding: 25px;
}

.round-category {
    padding: 10px;
    border-left: 1px solid black
}

.active {
    background: lightblue;
}
