.active-game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}


.active-question-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid black;
}
.active-question {
    font-size: 1.6em;
}

.active-answer {
    align-self: flex-end;
    font-style: italic;
    font-size: 1.3em;
    margin-top: 20px;
}

.round-category {
    padding: 10px;
    border-right: 1px solid black
}

.active {
    background: lightblue;

}

.active-round {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.game-and-scoreboard {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    min-width: 30vw;
    max-width: 70vw;
    flex-grow: 1;

    /* flex-grow: 1; */
}

